body {
  background-color: rgb(20,35,111);
}

h1{
  font-size: 84px;
  color: rgb(251,243,250);
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  
  width: 50%;
  margin-left:23%;
  font-weight: normal;
  position: fixed;
}

.menud {
  margin-top:100px;
  margin-left: -60px;
  display: inline-block;
}


nav {
  background-color: rgb(194,42,115);
  width: 200px;
  height: 600px;
  float: left;
  display: none;
  margin-left: 0px;
  margin-top:20px;
}

nav:active {
  background-color: rgb(194,42,115);
}

.personne{
  border-radius: 100px;

}

section{
  width: 64%;
  height: 100%;
  display: flex;
justify-content: space-between;
align-content: center;
margin-left: : 200px;
}
